In [ ]:
#Social_Network_Ads.csv

**Import libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

**Importing the dataset**

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
dataset.drop('User ID',axis=1,inplace=True)
def encode(v):
    if v=='Male':
        return 1
    else:
        return 0
dataset['Gender']=dataset['Gender'].apply(encode)
dataset

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [4]:
X=dataset.drop('Purchased',axis=1)
Y=dataset['Purchased']

**Splitting the dataset into the Training set and Test set**

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=25)

**Feature Scaling**

In [16]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

**Fitting SVM to the Training set**

In [17]:
from sklearn.svm import SVC
svm=SVC(kernel='rbf')
svm.fit(X_train,Y_train)

SVC()

**Predicting the Test set results**

In [18]:
Y_pred=svm.predict(X_test)

**Making the Confusion Matrix**

In [19]:
from sklearn.metrics import confusion_matrix,classification_report
print(confusion_matrix(Y_test,Y_pred))
print(classification_report(Y_test,Y_pred))

[[71  6]
 [ 3 40]]
              precision    recall  f1-score   support

           0       0.96      0.92      0.94        77
           1       0.87      0.93      0.90        43

    accuracy                           0.93       120
   macro avg       0.91      0.93      0.92       120
weighted avg       0.93      0.93      0.93       120

**Visualising the Training set results**

**Visualising the Test set results**